language: java
jdk:
    - oraclejdk8
    - openjdk7
dist: trusty
branches:
    except:    
        - /^([0-9]+)\.([0-9]+)\.([0-9]+)(?:-([0-9A-Za-z-]+(?:\.[0-9A-Za-z-]+)*))?(?:\+[0-9A-Za-z-]+)?$/
install:
    - true
script:
    - ./mvnw -B clean install

cache:
  directories:
  - $HOME/.m2
